# 1.0. IMPORTS

In [1]:
import json
import psycopg2

import pandas as pd

## 1.1. Carregando dados

In [11]:
# Lendo a query
query = open('../querys/query_01.sql', 'r').read()

# Lendo as credenciais do banco
conexoes = json.load(open('../credentials/conexoes.json', 'r'))

# Conectando no banco
conn = psycopg2.connect(
    host    =conexoes['host'],
    database=conexoes['database'],
    user    =conexoes['user'],
    password=conexoes['password']
)

# Lendo a query em um dataframe
df = pd.read_sql_query(query, conn)

# Fechando conexão
conn.close()

# Exportando dados
df.to_csv('../data/df_raw.csv', index=False, sep=';')

# 2.0. DESCRIÇÃO DOS DADOS

In [12]:
df = pd.read_csv('../data/df_raw.csv', sep=';')

In [13]:
df.head()

,id,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,previously_insured,annual_premium,vintage,response
0,7,Male,23,11.0,152.0,1,< 1 Year,Yes,0,23367.0,249,0
1,13,Female,41,15.0,14.0,1,1-2 Year,No,1,31409.0,221,0
2,18,Female,25,35.0,152.0,1,< 1 Year,No,1,46622.0,299,0
3,31,Female,26,8.0,160.0,1,< 1 Year,No,0,2630.0,136,0
4,39,Male,45,8.0,124.0,1,1-2 Year,Yes,0,42297.0,264,0

## 2.1. Dimensão dos dados

In [15]:
print('Número de linhas: {}'.format(df.shape[0]))
print('Número de colunas: {}'.format(df.shape[1]))

Número de linhas: 381109
Número de colunas: 12

## 2.2. Tipo das variáveis

In [16]:
df.dtypes

id                        int64
gender                   object
age                       int64
region_code             float64
policy_sales_channel    float64
driving_license           int64
vehicle_age              object
vehicle_damage           object
previously_insured        int64
annual_premium          float64
vintage                   int64
response                  int64
dtype: object

## 2.3. Verificando NAs

In [17]:
df.isna().sum()

id                      0
gender                  0
age                     0
region_code             0
policy_sales_channel    0
driving_license         0
vehicle_age             0
vehicle_damage          0
previously_insured      0
annual_premium          0
vintage                 0
response                0
dtype: int64